<div class="oj-hybrid-padding">

<div class="oj-flex oj-sm-flex-direction-column">
  <div class="oj-sm-align-self-flex-end oj-flex-item list-actions">
    <button data-bind="click: onAdd, ojComponent: { component: 'ojButton',
                                                    label: 'Add New' }">
    </button>
  </div>
</div>

<ul id="ulPipelines" data-bind="ojComponent: { component: 'ojListView',
                                               data: dsPipelines,
                                               item: { template: 'pipeline_template' },
                                               selectionMode: 'none',
                                               translations: {
                                                 msgNoData: 'No pipelines found.'
                                               } 
                                             }">
</ul>

</div>

<script type="text/html" id="pipeline_template">
  <li class="oj-panel-shadow-sm buildpal-list-item">
    <div class="oj-flex">
      <div class="icon-status-holder oj-sm-align-self-center">
          <span class="oj-navigationlist-item-icon buildpal-icon-font-24" data-bind="css: 'icon-'"></span>
      </div>
      <div class="oj-flex-item">
        <div class="oj-flex row">
          <div class="oj-lg-12">
            <span class="name" data-bind="text: name"></span>              
          </div>
        </div>
        <div class="oj-flex row">
          <div class="oj-lg-4 oj-md-4 oj-sm-12">
            <span class="secondary" data-bind="text: $parent.moment(utcLastModifiedDate).fromNow()"></span>
            <span class="fineprint" data-bind="text: ' by ' + createdBy"></span>              
          </div>
          <div class="oj-lg-4 oj-md-4 oj-sm-12">              
              <span class="secondary"></span>
          </div>                  
        </div>              
      </div>
      <div class="actions oj-sm-align-self-center">
        <a href="#" data-bind="click: $parent.onStart"><i class="material-icons action">play_circle_outline</i></a>
        <a href="#" data-bind="click: $parent.onEdit"><i class="material-icons action">edit</i></a>
        <a href="#" data-bind="click: $parent.onDelete"><i class="material-icons action">delete</i></a>
      </div>  
    </div>        
  </li>
</script>

<div id="dlgPipeline_Delete" style="display:none" title="Delete Pipeline"
     data-bind="ojComponent: { component: 'ojDialog',
                               initialVisibility: 'hide',
                               rootAttributes: { style: 'width: 80vw; '}
                             }">
  <div class="oj-dialog-body">
    <span>Are you sure you want to delete </span>  
    <span style="font-weight: 700; font-style: italic;" data-bind="text: currentPipeline.name() + '?'"></span>
  </div>
  <div class="oj-dialog-footer">
   <button data-bind=" click: onDeleteConfirm, ojComponent: {component: 'ojButton', label: 'Delete'}"> </button>
   <button data-bind="click: onDeleteCancel, ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
  </div>
</div>

<div id="dlgPipeline_Data" style="display:none" title="Enter Pipeline Data"
     data-bind="ojComponent: { component: 'ojDialog',
                               initialVisibility: 'hide',
                               rootAttributes: { style: 'width: 80vw; '}
                             }">
  <div class="oj-dialog-body">
    
     <div class="oj-form-layout">
      <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4">          
        <div class="oj-flex" data-bind="foreach: currentData">  
          <div class="oj-flex-item">
            <label data-bind="text: name, attr: { for: id }"></label>
          </div>
          <div class="oj-flex-item">  
            <input data-bind="ojComponent: { component: 'ojInputText',
                                              value: value
                                            }, attr: { id: id }">
          </div>    
        </div>
      </div>    
    </div>

  </div>
  <div class="oj-dialog-footer">
   <button data-bind=" click: onDataConfirm, ojComponent: {component: 'ojButton', label: 'Start'}"> </button>
   <button data-bind="click: onDataCancel, ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
  </div>
</div>
