<div class="oj-hybrid-padding">

<div class="oj-flex-bar-start bread-crumbs">
  <a href="#" data-bind="click: onCancel">Repositories</a>
  <span class="breadcrumbs-point">&gt;</span>
  <span data-bind="text: title"></span>
</div>

<div class="oj-panel oj-panel-shadow-md">
  <div class="oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">
      <div class="oj-flex-item">
        <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
          <div class="oj-flex">  
            <div class="oj-flex-item">
              <label for="ddlType">Type</label>
            </div>
            <div class="oj-flex-item">  
              <select id="ddlType" data-bind="ojComponent: { component: 'ojSelect',
                                                            value: currentRepo.type,
                                                            required: true
                                                          }">              
                <option value="FS">File System</option>
                <option value="GIT">Git</option>
                <option value="MULTI_GIT">Multi Git</option>
                <option value="P4">Perforce</option>
                <option value="MULTI_P4">Multi Perforce</option>
              </select>
            </div>
          </div>
          <div class="oj-flex">  
              <div class="oj-flex-item">
                <label for="ddlSecrets">Credentials</label>
              </div>
              <div class="oj-flex-item">  
                <select id="ddlSecrets" data-bind="ojComponent: { component: 'ojSelect',
                                                                  value: currentRepo.secretID,
                                                                  options: dsSecrets,
                                                                  optionsKeys: { value: 'id', label: 'name' }
                                                                }">                                    
                </select>
              </div>
            </div>                              
        </div>
      </div>
      <div class="oj-flex-item">
        <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
          <div class="oj-flex">  
            <div class="oj-flex-item">
              <label for="txtName">Name</label>
            </div>
            <div class="oj-flex-item">  
              <input id="txtName" autocomplete="off" autofocus 
                      data-bind="ojComponent: { component: 'ojInputText', 
                                                value: currentRepo.name,
                                                required: true,
                                                invalidComponentTracker: tracker,
                                                translations: {
                                                  'required': {
                                                    messageSummary: 'Invalid name',  
                                                    messageDetail: 'Name cannot be empty.'
                                                  }
                                                } 
                                              }">
            </div>
          </div>                          
        </div>
      </div>      
  </div>    
</div>

<div class="oj-panel oj-panel-shadow-md" style="margin-top: 16px;" data-bind="visible: !showForMultiRepo()">
  <div class="oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
        <div class="oj-flex">  
          <div class="oj-flex-item">
            <label for="txtUri">Uri</label>
          </div>
          <div class="oj-flex-item">  
            <input id="txtUri" autocomplete="off"
                    data-bind="ojComponent: { component: 'ojInputText', 
                                              value: currentRepo.uri,
                                              required: showUri(),
                                              invalidComponentTracker: tracker,
                                              translations: {
                                                'required': {
                                                  messageSummary: 'Invalid uri',  
                                                  messageDetail: 'Uri should be a URL or a file path.'
                                                }
                                              }
                                            }">
          </div>
        </div>
        <div class="oj-flex" style="display: none;" data-bind="visible: showForP4()">  
          <div class="oj-flex-item">
            <label for="txtViewMappings">View Mappings</label>
          </div>
          <div class="oj-flex-item">  
            <textarea id="txtViewMappings" data-bind="ojComponent: { component: 'ojTextArea',
                                                                    value: currentRepo.viewMappings,
                                                                    required: showForP4(),
                                                                    invalidComponentTracker: tracker,
                                                                    translations: {
                                                                      'required': {
                                                                        messageSummary: 'Invalid view mappings',  
                                                                        messageDetail: 'Specify one or more view mappings.'
                                                                      }
                                                                    }
                                                                  }">
            </textarea>                        
          </div>
        </div>
        <div class="oj-flex">
          <div class="oj-flex-item">
            <label for="chkPipelineScan">Pipeline Scan</label>
          </div>
          <div class="oj-flex-item">
            <div id="chkPipelineScan"
                    data-bind="ojComponent: { component: 'ojCheckboxset',
                                              value: currentRepo.pipelineScanOn
                                            }">
              <span class="oj-choice-item">
                <input id="chkPSEnabled" type="checkbox" value="true">
                <label for="chkPSEnabled">Enable</label>
              </span>
            </div>
          </div>
        </div>              
      </div>
    </div>
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
        <div class="oj-flex" style="display: none;" data-bind="visible: showForGit()">  
          <div class="oj-flex-item">
            <label for="txtRemote">Remote</label>
          </div>
          <div class="oj-flex-item">  
            <input id="txtRemote" autocomplete="off" 
                    data-bind="ojComponent: { component: 'ojInputText', 
                                              value: currentRepo.remote,
                                              required: showForGit(),
                                              invalidComponentTracker: tracker,
                                              translations: {
                                                'required': {
                                                  messageSummary: 'Invalid remote value',  
                                                  messageDetail: 'Remote value cannot be empty.'
                                                }
                                              }
                                            }">
          </div>
        </div>                                    
        <div class="oj-flex" style="display: none; margin-top: 6px;" data-bind="visible: showForGit()">  
          <div class="oj-flex-item">
            <label for="txtBranch">Branch</label>
          </div>
          <div class="oj-flex-item">  
            <input id="txtBranch" autocomplete="off" 
                    data-bind="ojComponent: { component: 'ojInputText', 
                                              value: currentRepo.branch,
                                              required: showForGit(),
                                              invalidComponentTracker: tracker,
                                              translations: {
                                                'required': {
                                                  messageSummary: 'Invalid branch value',  
                                                  messageDetail: 'Branch value cannot be empty.'
                                                }
                                              }
                                            }">
          </div>
        </div>

        <div class="oj-flex" style="display: none;" data-bind="visible: showForP4()">  
          <div class="oj-flex-item">
            <label for="chkForceUpdate">Force Update</label>
          </div>
          <div class="oj-flex-item">
            <div id="chkForceUpdate"
                    data-bind="ojComponent: { component: 'ojCheckboxset',
                                              value: currentRepo.forceUpdate
                                            }">
              <span class="oj-choice-item">
                <input id="chkFUEnabled" type="checkbox" value="true">
                <label for="chkFUEnabled">Enable</label>
              </span>
            </div>
          </div>
        </div>
        <div class="oj-flex" style="display: none;" data-bind="visible: showForP4()">  
          <div class="oj-flex-item">
            <label for="chkQuietSync">Quiet Sync</label>
          </div>
          <div class="oj-flex-item">
            <div id="chkQuietSync"
                    data-bind="ojComponent: { component: 'ojCheckboxset',
                                              value: currentRepo.quiet
                                            }">
              <span class="oj-choice-item">
                <input id="chkQSEnabled" type="checkbox" value="true">
                <label for="chkQSEnabled">Enable</label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>

  <div class="oj-dialog-footer">
    <button data-bind=" click: onSave, ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
    <button data-bind="click: onCancel, ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
  </div>
</div>

<div class="oj-panel oj-panel-shadow-md" style="margin-top: 16px;" data-bind="visible: showForMultiRepo()">
  
  <div class="oj-dialog-footer">
    <button data-bind=" click: onAddChild, ojComponent: {component: 'ojButton', label: 'Add Child Repo'}"> </button>    
  </div>

  <ul id="ulChildRepos" data-bind="ojComponent: { component: 'ojListView',
                                                  data: dsChildRepos,
                                                  item: { template: 'child_repo_template' },
                                                  selectionMode: 'none',
                                                  translations: {
                                                    msgNoData: 'Add one or more child repositories.'
                                                  } 
                                                }">
  </ul>

  <div class="oj-dialog-footer" data-bind="visible: showChildSave() ">
    <button data-bind=" click: onSave, ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
    <button data-bind="click: onCancel, ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
  </div>
</div>

</div>

<script type="text/html" id="child_repo_template">
  <li class="buildpal-list-item">
    <div class="oj-flex">
      <div class="icon-status-holder oj-sm-align-self-center">
          <div data-bind="css: type()[0].toLowerCase()"></div>
      </div>
      <div class="oj-flex-item">
        <div class="oj-flex row">
          <div class="oj-lg-12">
            <span class="name" data-bind="text: name"></span>              
          </div>
        </div>        
      </div>
      <div class="actions oj-sm-align-self-center">                    
        <a href="#" data-bind="click: $parent.onEditChild"><i class="material-icons action">edit</i></a>
        <a href="#" data-bind="click: $parent.onDeleteChild"><i class="material-icons action">delete</i></a>
      </div>  
    </div>
  </li>
</script>

<div id="dlgChildRepo" style="display:none" title="Child Repository"
     data-bind="ojComponent: { component: 'ojDialog',
                               initialVisibility: 'hide',
                               rootAttributes: { style: 'width: 85vw; height: 450px '}
                             }">
  <div class="oj-dialog-body">
      <div class="oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">
          <div class="oj-flex-item">
            <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <label for="txtChildName">Name</label>
                </div>
                <div class="oj-flex-item">  
                  <input id="txtChildName" autocomplete="off"
                          data-bind="ojComponent: { component: 'ojInputText', 
                                                    value: currentChildRepo().name,
                                                    required: true,
                                                    invalidComponentTracker: childTracker,
                                                    translations: {
                                                      'required': {
                                                        messageSummary: 'Invalid name',  
                                                        messageDetail: 'Name cannot be empty.'
                                                      }
                                                    }
                                                  }">
                </div>
              </div>
              <div class="oj-flex">  
                <div class="oj-flex-item">
                  <label for="txtChildUri">Uri</label>
                </div>
                <div class="oj-flex-item">  
                  <input id="txtChildUri" autocomplete="off"
                          data-bind="ojComponent: { component: 'ojInputText', 
                                                    value: currentChildRepo().uri,
                                                    required: true,
                                                    invalidComponentTracker: childTracker,
                                                    translations: {
                                                      'required': {
                                                        messageSummary: 'Invalid uri',  
                                                        messageDetail: 'URL cannot be empty.'
                                                      }
                                                    }
                                                  }">
                </div>
              </div>
              <div class="oj-flex" style="display: none;" data-bind="visible: showForMultiP4()">  
                <div class="oj-flex-item">
                  <label for="txtChildViewMappings">View Mappings</label>
                </div>
                <div class="oj-flex-item">  
                  <textarea id="txtChildViewMappings" data-bind="ojComponent: { component: 'ojTextArea',
                                                                          value: currentChildRepo().viewMappings,
                                                                          required: showForMultiP4(),
                                                                          invalidComponentTracker: childTracker,
                                                                          translations: {
                                                                            'required': {
                                                                              messageSummary: 'Invalid view mappings',  
                                                                              messageDetail: 'Specify one or more view mappings.'
                                                                            }
                                                                          }
                                                                        }">
                  </textarea>                        
                </div>
              </div>
              <div class="oj-flex" style="display: none;" data-bind="visible: showForMultiGit()">
                <div class="oj-flex-item">
                  <label for="chkChildHasPipeline1">Has Pipeline?</label>
                </div>
                <div class="oj-flex-item">
                  <div id="chkChildHasPipeline1"
                          data-bind="ojComponent: { component: 'ojCheckboxset',
                                                    value: currentChildRepo().hasPipeline
                                                  }">
                    <span class="oj-choice-item">
                      <input id="chkCYes1" type="checkbox" value="true">
                      <label for="chkCYes1">Yes</label>
                    </span>
                  </div>
                </div>
              </div>
                      
            </div>
          </div>
          <div class="oj-flex-item">
            <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
              <div class="oj-flex" style="display: none;" data-bind="visible: showForMultiGit()">  
                <div class="oj-flex-item">
                  <label for="txtChildRemote">Remote</label>
                </div>
                <div class="oj-flex-item">  
                  <input id="txtChildRemote" autocomplete="off" 
                          data-bind="ojComponent: { component: 'ojInputText', 
                                                    value: currentChildRepo().remote,
                                                    required: showForMultiGit(),
                                                    invalidComponentTracker: childTracker,
                                                    translations: {
                                                      'required': {
                                                        messageSummary: 'Invalid remote value',  
                                                        messageDetail: 'Remote value cannot be empty.'
                                                      }
                                                    }
                                                  }">
                </div>
              </div>                                    
              <div class="oj-flex" style="display: none; margin-top: 6px;" data-bind="visible: showForMultiGit()">  
                <div class="oj-flex-item">
                  <label for="txtChildBranch">Branch</label>
                </div>
                <div class="oj-flex-item">  
                  <input id="txtChildBranch" autocomplete="off" 
                          data-bind="ojComponent: { component: 'ojInputText', 
                                                    value: currentChildRepo().branch,
                                                    required: showForMultiGit(),
                                                    invalidComponentTracker: childTracker,
                                                    translations: {
                                                      'required': {
                                                        messageSummary: 'Invalid branch value',  
                                                        messageDetail: 'Branch value cannot be empty.'
                                                      }
                                                    }
                                                  }">
                </div>
              </div>
              <div class="oj-flex" style="display: none;" data-bind="visible: showForMultiP4()">  
                <div class="oj-flex-item">
                  <label for="chkChildForceUpdate">Force Update</label>
                </div>
                <div class="oj-flex-item">
                  <div id="chkChildForceUpdate"
                          data-bind="ojComponent: { component: 'ojCheckboxset',
                                                    value: currentChildRepo().forceUpdate
                                                  }">
                    <span class="oj-choice-item">
                      <input id="chkCFUEnabled" type="checkbox" value="true">
                      <label for="chkCFUEnabled">Enable</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="oj-flex" style="display: none;" data-bind="visible: showForMultiP4()">  
                <div class="oj-flex-item">
                  <label for="chkChildQuietSync">Quiet Sync</label>
                </div>
                <div class="oj-flex-item">
                  <div id="chkChildQuietSync"
                          data-bind="ojComponent: { component: 'ojCheckboxset',
                                                    value: currentChildRepo().quiet
                                                  }">
                    <span class="oj-choice-item">
                      <input id="chkCQSEnabled" type="checkbox" value="true">
                      <label for="chkCQSEnabled">Enable</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="oj-flex" style="display: none;" data-bind="visible: showForMultiP4()">
                <div class="oj-flex-item">
                  <label for="chkChildHasPipeline2">Has Pipeline?</label>
                </div>
                <div class="oj-flex-item">
                  <div id="chkChildHasPipeline2"
                          data-bind="ojComponent: { component: 'ojCheckboxset',
                                                    value: currentChildRepo().hasPipeline
                                                  }">
                    <span class="oj-choice-item">
                      <input id="chkCYes2" type="checkbox" value="true">
                      <label for="chkCYes2">Yes</label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>      
        </div>      
  </div>
  <div class="oj-dialog-footer">
    <button data-bind="click: onChildSave, ojComponent: {component: 'ojButton', label: 'Done'}"> </button>
    <button data-bind="click: onChildClose, ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
  </div>
</div>
