<div class="oj-hybrid-padding">

<div class="oj-flex-bar-start bread-crumbs">
  <a href="#" data-bind="click: onCancel">Secrets</a>
  <span class="breadcrumbs-point">&gt;</span>
  <span data-bind="text: title"></span>
</div>

<div class="oj-panel oj-panel-shadow-md">

<div class="oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">
  <div class="oj-flex-item">
    <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
      <div class="oj-flex">  
        <div class="oj-flex-item">
          <label for="txtName">Name</label>
        </div>
        <div class="oj-flex-item">  
          <input id="txtName" autocomplete="off" autofocus
                 data-bind="ojComponent: { component: 'ojInputText', 
                                           value: currentSecret.name,
                                           required: true,
                                           invalidComponentTracker: tracker,
                                           translations: {
                                             'required': {
                                               messageSummary: 'Invalid name',  
                                               messageDetail: 'Name cannot be empty.'
                                             }
                                           } 
                                         }">
        </div>    
      </div>
      <div class="oj-flex">  
        <div class="oj-flex-item">
          <label for="txtDescription">Description</label>
        </div>
        <div class="oj-flex-item">  
          <textarea id="txtDescription" data-bind="ojComponent: { component: 'ojTextArea',
                                                                  value: currentSecret.description
                                                                }">
          </textarea>                        
        </div>
      </div>      
    </div>
  </div>
  <div class="oj-flex-item">
    <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">
      <div class="oj-flex">  
        <div class="oj-flex-item">
          <label for="txtUserName">User Name</label>
        </div>
        <div class="oj-flex-item">  
          <input id="txtUserName" data-bind="ojComponent: { component: 'ojInputText',
                                                            value: currentSecret.username
                                                          }">                        
        </div>
      </div>
      <div class="oj-flex">  
        <div class="oj-flex-item">
          <label for="txtPassword">Password</label>
        </div>
        <div class="oj-flex-item">  
          <input id="txtPassword" data-bind="ojComponent: { component: 'ojInputPassword',
                                                            value: currentSecret.password
                                                          }">                        
        </div>
      </div>                  
    </div>
  </div>  
</div>

  <div class="oj-dialog-footer">
    <button data-bind="click: onSave, ojComponent: { component: 'ojButton', label: 'Save' }"> </button>
    <button data-bind="click: onCancel, ojComponent: { component: 'ojButton', label: 'Cancel' }"> </button>  
  </div>
</div>

</div>
  